<div class="nested-fields">
    <div class="row container">
    <div class="col-md-4">
        <%= f.association :product, :as => :collection_select, collection: Product.where('currquantity > ?', 0).order('pname'), :label_method => :pname, required: true, class: "productMenu" %>
    </div>
    <div class="col-md-2">
        <%= f.label 'Quantity' %>
        <%= f.number_field  :oquantity, required: true %>
    </div>
    <div class="col-md-2">
        <%= link_to_remove_association "Remove product", f, class: "btn btn-danger remove" %>
    </div>
    </div>
    <br>
</div>