<script type="text/javascript" src="path-to-file/jquery.js"></script>
<script type="text/javascript" src="path-to-file/thickbox.js"></script>



<div class="col-md-1"><%= link_to "Inflows", new_inflow_path, class: "btn btn-info" %></div>
<div class="col-md-1"><%= link_to "Outflows", new_outflow_path, class: "btn btn-info" %></div>