<table>
    <tr>
        <td><div class="col-md-4"><%= link_to "Update Product", updates_list_p_path, class: "btn btn-info" %></div></td>
        <td><div class="col-md-4"><%= link_to "Update Supplier", updates_list_s_path, class: "btn btn-info" %></div></td>
        <td><div class="col-md-4"><%= link_to "Update Customer", updates_list_c_path, class: "btn btn-info" %></div></td>
    </tr>
</table>

