<div class="col container">
    <% @products.each do |product| %>
        <%= product.pname %>
        <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %><br>
    <% end %>
</div>
