<div class="col container">
  	<% @customers.each do |customer| %>
   	    <%= customer.cname %>
       	<%= link_to "Edit", edit_customer_path(customer), class: "btn btn-primary" %><br>
    <% end %>
</div>
