<script type="text/javascript" src="path-to-file/jquery.js"></script>
<script type="text/javascript" src="path-to-file/thickbox.js"></script>


<%= link_to "Add Product", new_product_path, class: "btn btn-info" %>
<br>
<br>

<%= link_to "Add Supplier", new_supplier_path, class: "btn btn-info" %>
<br>
<br>
<%= link_to "Add Customer", new_customer_path, class: "btn btn-info" %>


<h1> Hello World </h1>